//
// General Layout
//

$sidebar-width: 100%;
$gutter: $space;
$main-width: 100%;
// $main-width: calc(100% - (#{$sidebar-width} + #{$gutter}));

// .header,
// .main {
//   // @include wrapper;
// }

//
// Layout Using Flexbox (IE11+).
// Remove this and uncomment Grid code below to use CSS Grid.
//

.layout-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 3.5rem 4rem 4fr 1fr;
  grid-template-rows: 3.5rem 4rem 4fr 1fr;
  grid-template-areas:
    "sidebar"
    "header"
    "main"
    "footer";

  @include large {
    display: -ms-grid;
    -ms-grid-columns: 15% 85%;
    display: grid;
    grid-template-columns: 15% 85%;
    -ms-grid-rows: 3.5rem 4fr 1fr;
    grid-template-rows: 3.5rem 4fr 1fr;
    grid-template-areas:
      "sidebar header"
      "sidebar main"
      "sidebar footer";
  }
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  background-color: $near-white;

  // @include large {
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  // }
}

.main-sidebar {
  @include large {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: sidebar;
    padding: $space;

    > div {
      position: fixed;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
    }
  }
}

.main-content {
  width: 100%;

  > div {
    display: flex;
    flex-flow: column;
  }

  @include large {
    &--with-sidebar {
      margin-right: $gutter;
      margin-left: $gutter;
      width: $main-width;
    }

    > div {
      flex-flow: row wrap;
      justify-content: space-around;
      padding-top: $space-double;
    }
  }
}

//
// Layout Using CSS Grid (NO IE11 support)
// Remove Flexbox code above and uncomment this section to use CSS Grid.
//

// .main {
//   &--with-sidebar {
//     @include large {
//       display: grid;
//       grid-gap: $gutter;
//       grid-template-areas: "content sidebar";
//       grid-template-columns: $main-width #{$sidebar-width};
//     }
//   }
// }
//
// .main-sidebar {
//   grid-area: sidebar;
//   margin-bottom: $space-double;
// }
//
// .main-content {
//   grid-area: content;
//   width: 100%;
// }
