//
// General Layout
//

$sidebar-width: 100%;
$gutter: $space;
$main-width: 100%;
// $main-width: calc(100% - (#{$sidebar-width} + #{$gutter}));

// .header,
// .main {
//   // @include wrapper;
// }

//
// Layout Using Flexbox (IE11+).
// Remove this and uncomment Grid code below to use CSS Grid.
//

.layout-container {
  display: -ms-grid;
  -ms-grid-columns: 15% 85%;
  -ms-grid-rows: 3.5rem 4fr 1fr;
  display: grid;
  align-items: stretch;
  grid-template-columns: 15% 85%;
  grid-template-rows: 3.5rem 4fr 1fr;
  grid-template-areas:
  "sidebar header"
  "sidebar main"
  "sidebar footer";
}

.main {
  grid-area: main;
  background-color: $near-white;

  @include large {
    display: flex;
  }
}

.main-sidebar {
  grid-area: sidebar;
  padding: $space;
  margin-bottom: $space-double;

  div {
    position: fixed;
  }

  @include large {
    width: $sidebar-width;
    margin-bottom: 0;
  }
}

.main-content {
  width: 100%;

  @include large {
    &--with-sidebar {
      margin-right: $gutter;
      margin-left: $gutter;
      width: $main-width;
    }
  }
}

//
// Layout Using CSS Grid (NO IE11 support)
// Remove Flexbox code above and uncomment this section to use CSS Grid.
//

// .main {
//   &--with-sidebar {
//     @include large {
//       display: grid;
//       grid-gap: $gutter;
//       grid-template-areas: "content sidebar";
//       grid-template-columns: $main-width #{$sidebar-width};
//     }
//   }
// }
//
// .main-sidebar {
//   grid-area: sidebar;
//   margin-bottom: $space-double;
// }
//
// .main-content {
//   grid-area: content;
//   width: 100%;
// }
