// Toggle
.toggle-expand {
  @include link;

  @include breakpoint($main-menu-medium) {
    display: none;
  }

  display: inline-block;
  text-decoration: none;


  // See main-menu.js
  &--open {
    width: 100%;
    padding: $space;
    background-color: $gray-dark;
  }
}

.toggle-expand__text {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  position: relative;
  top: -10px;

  .toggle-expand--open & {
    color: $white;
  }
}

// SVG icon
.toggle-expand__icon {
  height: 2rem;
  width: 2rem;
  margin: 0 auto;
}

.toggle-expand__open {
  display: inline-block;
  text-align: center;

  .toggle-expand--open & {
    display: none;
  }
}

.toggle-expand__close {
  display: none;
  text-align: center;

  &::before {
    color: $white;
    content: "X";
    display: block;
    font-size: 2.5rem;
    line-height: 2;
  }

  .toggle-expand--open & {
    display: inline-block;
  }
}
