.site-footer__container {
  // @include breakout;

  grid-area: footer;
  padding-top: 2em;
  margin-top: $space;
  height: 100%;
  clear: both;
  background-color: $brown-regular;

  @include medium {
    height: 16em;
  }
}

.site-footer {
  @include wrapper;

  p {
    color: $gray-light;
  }
}
