.site-footer__container {
  @include breakout;

  height: 12em;
  clear: both;
  background-color: $brown-regular;
}

.site-footer {
  @include wrapper;

}

.site-footer .page-menu {
  display: flex;
  flex-flow: column nowrap;
}
