.site-footer__container {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: footer;
  padding-top: 2em;
  margin-top: $space;
  height: 100%;
  clear: both;
  background-color: $brown-regular;

  @include medium {
    height: 16em;
  }
}

.site-footer {
  @include wrapper;

  p {
    color: $gray-light;
  }
}
