
html {
  font-size: $base-font-size;
  line-height: $base-line-height;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Fix for mobile menu x overflow causing horizontal scrolling */
body {
  overflow-x: hidden;
}

img {
  margin: 0;
}

// IE Specific media query. Used to target IE10+
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .logo__img {
    width: 200px;
    height: auto;
  }
}

@media (min-width: $medium) {
  $base-font-size: 20px;
  $base-line-height: 1.5;

  html {
    font-size: $base-font-size;
    line-height: $base-line-height;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  //@include wrapper;

  display: block; // Fix for IE weirdness
}


.main-sidebar {
  background-color: $purple-dark;
}
