.block__recent-docs-list {
  border-radius: $space;
  background-color: #ffffff;
  padding: $space;
  min-width: 315px;
}

.recent-docs-list {
  list-style-type: none;
}

.recent-docs-list__title {
  @include heading-small($color: $gray-dark);
}

.recent-docs-list__item {
  a {
    @include heading-xs();
  }
}
