.paragraph--triplet {
  @include wrapper;

  margin-top: $space-double;
}

.paragraph--triplet__cta {
  @include button-cta;

  margin-top: $space;
}

.paragraph--triplet__column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
