/**
  Section
*/
.paragraph--section {
  @include breakout;

  background-color: $gray-lightest;
  padding: $space-double 0 $space-triple 0;

  p {
    color: $gray-darker;
  }
}

.paragraph--section__inner {
  @include wrapper;

  text-align: center;
}

.paragraph--section__heading {
  color: $purple-regular;
  font-weight: 300;
}

.paragraph--section__subheading {
  color: $purple-regular;
  font-weight: 300;
}

.paragraph--section--green {
  background-color: $green-dark;
  color: $white;

  .paragraph--section__heading {
    color: $white;
  }

  .paragraph--section__subheading {
    color: $white;
  }
}

.paragraph--section--indigo {
  background-color: $indigo-regular;
  color: $white;

  .paragraph--section__heading {
    color: $white;
  }

  .paragraph--section__subheading {
    color: $white;
  }
}

.paragraph--section--purple {
  background-color: $purple-regular;
  color: $white;

  .paragraph--section__heading {
    color: $white;
  }

  .paragraph--section__subheading {
    color: $white;
  }
}

.paragraph--section--blue {
  background-color: $blue-light;
  color: $white;

  .paragraph--section__heading {
    color: $white;
  }

  .paragraph--section__subheading {
    color: $white;
  }
}

.paragraph--section--orange {
  background-color: $orange-yellow;
  color: $white;

  .paragraph--section__heading {
    color: $white;
  }

  .paragraph--section__subheading {
    color: $white;
  }
}

.paragraph--section--white {
  background-color: $white;
}
