
.paragraph--section {
  @include breakout;
  background-color: $gray-lightest;
  padding: $space-double 0 $space-triple 0;
}

.paragraph--section__inner {
  @include wrapper;
  text-align: center;
}

.paragraph--section__heading {
  color: $purple-regular;
}



.paragraph--section--green {
  background-color: $green-dark;

  .paragraph--section__heading {
    color: $white;
  }

  p {
    color: white;
  }
}


.paragraph--section--indigo {
  background-color: $indigo-regular;

  .paragraph--section__heading {
    color: $white;
  }

  p {
    color: white;
  }
}


.paragraph--section--purple {
  background-color: $purple-regular;

  .paragraph--section__heading {
    color: $white;
  }

  p {
    color: $white;
  }
}

.paragraph--section--blue {
  background-color: $blue-light;

  .paragraph--section__heading {
    color: $white;
  }

  p {
    color: white;
  }
}

.paragraph--section--orange {
  background-color: $orange-yellow;

  .paragraph--section__heading {
    color: $white;
  }

  p {
    color: white;
  }
}

