/**
  Section
*/
.paragraph--section {
  @include breakout;

  background-color: $gray-lightest;
  padding: $space-double 0 $space-triple 0;

  p {
    color: $gray-darker;
  }
}

.paragraph--section__inner {
  @include wrapper;

  text-align: center;
}

.paragraph--section__heading {
  color: $purple-regular;
}

.paragraph--section--green {
  background-color: $green-dark;

  .paragraph--section__heading {
    color: $white;
  }

  p {
    color: $white;
  }
}

.paragraph--section--indigo {
  background-color: $indigo-regular;

  .paragraph--section__heading {
    color: $white;
  }

  p {
    color: $white;
  }
}

.paragraph--section--purple {
  background-color: $purple-regular;
  color: $white;

  .paragraph--section__heading {
    color: $white;
  }
}

.paragraph--section--blue {
  background-color: $blue-light;

  .paragraph--section__heading {
    color: $white;
  }

  p {
    color: $white;
  }
}

.paragraph--section--orange {
  background-color: $orange-yellow;

  .paragraph--section__heading {
    color: $white;
  }

  p {
    color: $white;
  }
}

.paragraph--section--white {
  background-color: $white;
}

/**
* Masthead
*/
.paragraph--masthead {
  @include breakout;

  background-image: linear-gradient(to right, $purple-regular , $salmon-regular);
  padding: 2em 0;

  h1 {
    color: $white;
  }

  figure {
    width: 6em;
  }
}

.paragraph--masthead__inner {
  @include wrapper;

  text-align: center;
}
