//  Empty
.site-header__container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  border-bottom: 1px solid $gray-lightest;
  -webkit-box-shadow: 0 5px 2px -2px rgba(62, 60, 98, 0.08);
          box-shadow: 0 5px 2px -2px rgba(62, 60, 98, 0.08);
  max-height: $space-quadruple;
  z-index: 10;
}

.site-header {
  padding: $space-one-half $space;
  background-color: none;
}

@media (max-width: $small) {
  .site-header {
    width: 100%;
  }
}
